@import '/styles/config.scss';

.container {
    background-color: #f6f6f6;
    height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: solid #eeebe7 1px;
    margin-bottom: scale-to-em(30);
    padding: scale-to-em(8);
}

.container:hover {
    cursor: pointer;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: dashed transparent 2px;
    transition: border 0.24s ease-in-out;

    svg,
    p {
        max-width: 235px;
    }

    & > svg {
        margin-bottom: 0.5em;
    }
}
