@import "styles/config";

.form_first_page {
  justify-content: flex-end !important;

  @media (max-width: $max-mobile) {
    justify-content: center !important;
  }
}

.form_inner {
  @include grid-item(10, 1);

  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: scale-to-em(48);
  border-radius: scale-to-em(8);
  padding: scale-to-em(40) scale-to-em(48);
  position: relative;

  @media (max-width: $max-desktop) {
    @include grid-item();
  }

  @media (max-width: $max-tablet) {
    @include grid-item();
  }

  @media (max-width: $max-mobile) {
    padding: scale-to-em(20) scale-to-em(24);
  }

  input,
  select {
    @media (min-width: $max-mobile) {
      max-width: 23em;
    }
  }
}

.array_title {
  display: flex;
  gap: 1em;
  align-items: center;
}

.trash_btn {
  height: 40px;
  width: 40px;
  &:hover {
    svg,
    path {
      fill: red !important;
    }
  }
}

.form_footer {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: $white;
  width: 100vw;

  height: 100px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
}

.form_buttons {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;

  @media (max-width: $max-mobile) {
    flex-direction: column;
    padding: 0.5em 2em;
    gap: 0.5em;

    button {
      width: 100%;
    }
  }
}

.input_container {
  max-width: 23em;
  width: 100%;
}
