@import "/styles/config.scss";

.squarebtn {
  display: flex;
  align-items: center;
  justify-content: center;
  //   border: 1px solid $medium-gray;
  border-radius: 4px;
  height: 35px;
  padding: 0.5em;
  transition: opacity 0.2s $default-ease;
  background-color: $soft-green;

  &:hover {
    opacity: 0.8;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.iconContainer {
  height: 20px;
  width: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.red {
  background-color: $color-error;

  svg,
  path {
    fill: $white;
  }
}

.blue {
  background-color: $soft-navy;

  svg,
  path {
    fill: $white;
  }
}
